body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0; 
}

/* Navigation Menu */
.navigation_menu {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px;
}

.navigation_menu a {
    color: #333; 
    text-decoration: none;
}

.navigation_menu .right-side a:hover,
.navigation_menu .right-side a.active {
    color: #007bff; 
}

.left-side {
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 50px; 
}

.left-side img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-top: 15px;
}

.left-side a {
    color: #000;
    text-decoration: none;
}

.left-side a:active {
    color: #007bff;
}

.right-side ul {
    list-style: none;
    display: flex;
    padding-right: 50px; 
}

.right-side ul li {
    margin-left: 26px; 
}

.right-side ul li a {
    color: #000;
    text-decoration: none; 
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

.right-side ul li a:active {
    color: #007bff;
}


/* Resume Page */
.resume_content {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
    font-size: 50px;
    border: 1px solid #000;
    border-color: #f0f0f0;
    border-radius: 15px;
    padding: 50px; 
    margin-top: 20px;
    width: 75%;
    align-content: center;
    margin-left: auto;  
    margin-right: auto; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume_content h1 {
    display: flex;
    font-size: 42px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.resume_content h2 {
    font-size: 36px;
    margin-bottom: 30px; 
}

.resume_content p {
    font-size: 24px;
    color: rgb(82, 82, 82);
}

.download_resume a {
    font-size: 24px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    transition: background-color 0.3s;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

.download_resume a:hover {
    background-color: #0056b3;
}

hr {
    border: none;
    height: 1px;
    background-color: #007bff; 
    margin: 20px 0; 
    height: 2px;
}

/* Contact Page */
.contact_content {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
    font-size: 24px;
    border: 1px solid #000;
    border-color: #f0f0f0;
    border-radius: 15px;
    padding: 50px;
    padding-top: 20px; 
    width: 75%;
    align-content: center;
    margin-left: auto;  
    margin-right: auto; 
    background-color: #fff;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact_content h1 {
    font-size: 42px;
    margin-top: 60px;
    margin-bottom: 50px; 
}

.contact_content form label {
    font-size: 18px;
    display: block; 
    margin-bottom: -30px; 
    text-align: left; 
    color: rgb(82, 82, 82);
    padding-left: 78px;
}

.contact_content form .input-field {
    width: 85%; 
    box-sizing: border-box;
    border: 3px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
}

.contact_content form textarea.input-field {
    resize: vertical;
    height: 150px;
    width: 85%; 
    background-color: #f0f0f0;
}

.contact_content form .submit-button {
    padding: 8px 10px;
    font-size: 18px;
    border: none;
    background-color: #007bff;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    width: 10%;
    height: 2%
}

.contact_content form .submit-button:hover {
    background-color: #0056b3;
}


/* Footer */
.footer {
    padding-left: 150px;
    padding-right: 150px; 
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
    color: gray;
}

.footer_text,
.socials {
    display: inline-block;
    vertical-align: middle;
}

/* Socials */
.socials {
    float: right;
    list-style-type: none;
    margin: -20px;
    padding: 0px;
}

.socials li {
    display: inline-block;
    margin: 0 15px;
}

.socials a {
    text-decoration: none;
    font-size: 45px;
    color: rgb(128, 128, 128);
}
